    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="bg-white p-10 border rounded-[8px] border-slate-200 hover:shadow-lg transition-all duration-300 flex flex-col justify-between h-44">
        <h3 class="text-slate-400 text-[10px] font-black uppercase tracking-[0.2em]">
          Patient Satisfaction
        </h3>
        <div class="text-6xl font-black text-primary tracking-tighter">99%</div>
      </div>
      <div class="bg-white p-10 border rounded-[8px] border-slate-200 hover:shadow-lg transition-all duration-300 flex flex-col justify-between h-44">
        <h3 class="text-slate-400 text-[10px] font-black uppercase tracking-[0.2em]">Years Active</h3>
        <div class="text-6xl font-black text-slate-900 tracking-tighter">10+</div>
      </div>
      <div class="bg-white p-10 border rounded-[8px] border-slate-200 hover:shadow-lg transition-all duration-300 flex flex-col justify-between h-44">
        <h3 class="text-slate-400 text-[10px] font-black uppercase tracking-[0.2em]">
          Specialized Doctors
        </h3>
        <div class="text-6xl font-black text-indigo-600 tracking-tighter">500+</div>
      </div>
      <div class="bg-white p-10 border rounded-[8px] border-slate-200 hover:shadow-lg transition-all duration-300 flex flex-col justify-between h-44">
        <h3 class="text-slate-400 text-[10px] font-black uppercase tracking-[0.2em]">
          Digital Consultations
        </h3>
        <div class="text-6xl font-black text-teal-500 tracking-tighter">1M+</div>
      </div>
    </div>