/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-primary: #8b5cf6;
  --color-primary-400: #dfd0fc;

  --color-background: #ffffff;
  --color-black: #000000;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-border: #e2e8f0;

  --font-family-sans: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-background);
  color: var(--color-black);
}
